@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Admin";

}
@model projekt1.Data.Film


<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="services-list">
                    <a asp-action="Index" asp-controller="Admin">Cập nhật rạp phim</a>
                    <a asp-action="Film" asp-controller="Admin">Cập nhật phim</a>
                    <a asp-action="AddFilm" asp-controller="Admin" class="active">Thêm phim</a>
                </div>

            </div>

            <div class="col-lg-8 services-holder" data-aos="fade-up" data-aos-delay="200">


                <div class="services-item" data-aos="fade-up" data-aos-delay="300">

                    <form asp-action="AddFilm" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200" enctype="multipart/form-data">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <label class="form-label" for="Image" class="pb-2">Ảnh Phim:</label>
                                <input type="file" accept="image/*,.jpg,.png" id="Image" name="file1" value="" asp-for="@Model.FilmImg">

                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="Image">Ảnh Banner:</label>
                                <input type="file" accept="image/*,.jpg,.png" id="file" name="file2" value="" asp-for="@Model.BannerImg">

                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="suatChieu">Trạng thái :</label>
                                <input type="text" id="suatChieu" name="suatChieu" value="" asp-for="@Model.suatChieu">
                                <span asp-validation-for="@Model.suatChieu" class="text-danger "></span>


                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="name">Tên phim:</label>
                                <input type="text" id="name" name="name" value="" asp-for="@Model.Name">
                                <span asp-validation-for="@Model.Name" class="text-danger "></span>

                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="director">Đạo diễn:</label>
                                <input type="text" id="director" name="director" value="" asp-for="@Model.Director">
                                <span asp-validation-for="@Model.Director" class="text-danger "></span>

                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="duration">Thời lượng:</label>
                                <input type="text" id="duration" name="duration" value="" asp-for="@Model.Duration">
                                <span asp-validation-for="@Model.Duration" class="text-danger "></span>

                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="language">Quốc gia:</label>
                                <input type="text" id="language" name="language" value="" asp-for="@Model.Language">
                                <span asp-validation-for="@Model.Language" class="text-danger "></span>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="year">Năm:</label>
                                <input type="text" id="year" name="year" value="" asp-for="@Model.Year">
                                <span asp-validation-for="@Model.Language" class="text-danger "></span>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="description">Mô tả :</label>
                                <input type="text" name="description" id="description" asp-for="@Model.Description">
                                <span asp-validation-for="@Model.Language" class="text-danger "></span>

                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn-edit">Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</section><!-- /Service Details Section -->