@model Login
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Đăng nhập</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="current">Đăng nhập</li>
            </ol>
        </nav>
    </div>
</div>


<section id="login" class="login section">
    <div class="container">
        <div class="row offset-0 offset-md-3 gy-4">
            <form asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-6" style="text-align: end;">
                    <a asp-action="Register" asp-controller="Account" class="active"> Đăng kí <i class="bi bi-arrow-right"></i></a>

                    <p class="text-danger"></p>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.Email" class="pb-2"></label>
                    <input asp-for="@Model.Email" class="form-control" required="">
                    <span asp-validation-for = "@Model.Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="@Model.Password" class="pb-2"></label>
                    <input asp-for="@Model.Password" class="form-control" required="">
                    <span asp-validation-for = "@Model.Password" class="text-danger"></span>
                </div>
             
                <div class="col-md-6 mb-2">
                    <a href="" class="active">Quên mật khẩu ?</a>
                </div>
                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Đăng nhập</button>
            </form>
        </div>
    </div>
</section>