@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đăng kí";
}
@model Register
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Đăng kí</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="current">Đăng kí</li>
            </ol>
        </nav>
    </div>
</div>

<section id="register" class="register section">
    <div class="container">

        <div class="row offset-0 offset-md-3 gy-4">
            <form asp-action = "Register" enctype="multipart/form-data" class="email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-6">
                    <a asp-action="Login" asp-controller="Account" class="active"><i class="bi bi-arrow-left"></i> Đăng nhập</a>
                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.FullName" class="pb-2"></label>
                    <input asp-for="@Model.FullName" id="name-field" class="form-control">
                    <span asp-validation-for="@Model.FullName" class="text-danger "></span>
                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.PhoneNumber" class="pb-2"></label>
                    <input asp-for="@Model.PhoneNumber" id="phone-field" class="form-control">
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger "></span>

                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.BirthDay" class="pb-2"></label>
                    <input asp-for="@Model.BirthDay" id="birth-field" class="form-control">
                    <span asp-validation-for="@Model.BirthDay" class="text-danger "></span>
                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.Gender" class="pb-2"></label>
                    <input asp-for="@Model.Gender" id="gender-field"  class="form-control">
                    <span asp-validation-for="@Model.Gender" class="text-danger "></span>
                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.AvatarImg" class="pb-2"></label>
                    <input asp-for="@Model.AvatarImg" name="file" type ="file" id="img-field" accept=".jpg,.jpeg,.png" class="form-control">
                    <span asp-validation-for="@Model.AvatarImg" class="text-danger "></span>
                </div>

                <div class="col-md-6 mt-4 mb-4">
                    <label asp-for="@Model.Email" class="pb-2"></label>
                    <input asp-for="@Model.Email" id="email-field" class="form-control">
                    <span asp-validation-for="@Model.Email" class="text-danger "></span>
                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for = "@Model.Password" for="Password" class="pb-2"></label>
                    <input asp-for = "@Model.Password" id="Password" class="form-control">
                    <span asp-validation-for="@Model.Password" class="text-danger "></span>

                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for="@Model.Confirmpassword" class="pb-2"></label>
                    <input asp-for ="@Model.Confirmpassword" class="form-control">
                    <span asp-validation-for="@Model.Confirmpassword" class="text-danger "></span>
                </div>
               
                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Đăng Ký</button>
            </form>
        </div>
    </div>
</section>