@model projekt1.Data.User

<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Quản lí tài khoản</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index" class="active" asp-controller="Home">Trang chủ</a></li>
                <li class="current">Quản lí tài khoản</li>
            </ol>
        </nav>
    </div>
</div>

<section id="account-section">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-4 col-sm-12 account-info">
               
                <div class="account-menu" data-aos="fade-up" data-aos-delay="300">
                    <a href="#" class="active account-setting">Thông tin tài khoản</a>
                    <a href="#" class="account-setting">Đổi mật khẩu </a>
                    <a href="" class="logout">Đăng xuất </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 " data-aos="fade-up" data-aos-delay="300">
                <div class="account-details px-4 active" data-aos-delay="300">
                    <form action="Profile" enctype="multipart/form-data" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            @if(Model != null){
                                <div class="account-avatar__container col-md-12" data-aos="fade-up" data-aos-delay="300">
                                    <div class="avatar-holder">
                                        <label for="file">
                                            <img src="@Model.AvatarImg" class="account-avatar" alt="">
                                        </label>
                                    </div>
                                    <div class="account--change-avatar">
                                        <label for="file">Đổi ảnh đại diện</label>
                                        <input asp-for="@Model.AvatarImg" type="file" name="file" id="file" onchange="imgLoader()">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="name-field" class="pb-2">Tên</label>
                                    <input asp-for="@Model.FullName" type="text" name="FullName" id="name-field" value="@Model.FullName" class="form-control" required="">
                                </div>

                                <div class="col-md-12">
                                    <label for="email-field" class="pb-2">Email</label>
                                    <input type="email" name="Email" id="email-field" value="@Model.Email" class="form-control" required="" readonly>
                                </div>

                                <div class="col-md-8 ">
                                    <label for="date-field" class="pb-2">Ngày Sinh</label>
                                    <input asp-for="@Model.BirthDay" type="date" value="@Model.BirthDay.Value.ToString("yyyy-MM-dd")" max="2016-12-31" inputmode="numeric" class="form-control" name="BirthDay" id="date-field" required="">
                                </div> 

                                <div class="col-md-6">
                                    <label for="tel-field" class="pb-2">Số điện thoại</label>
                                    <input asp-for="@Model.PhoneNumber" type="tel" name="PhoneNumber" id="tel-field" value="@Model.PhoneNumber" maxlength="12" pattern="[0-9]{10}" class="form-control" required="">
                                </div>
                            }

                            <div class="col-md-3 offset-8 offset-lg-8">
                                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Cập nhật</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="account-details px-4 d-none acc-notification" data-aos-delay="300">
                    <form action="Profile" enctype="multipart/form-data" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <label for="password-field" class="pb-2">Nhập mật khẩu</label>
                                <input type="password" name="password" id="password-field" class="form-control" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="confirm-field" class="pb-2">Xác nhận mật khẩu</label>
                                <input type="password" name="confirm" id="confirm-field" class="form-control" required="">
                            </div>

                            <div class="col-md-3 offset-8 offset-lg-8">
                                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Cập nhật</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/account.js"></script>