@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model dynamic
@{
    ViewData["Title"] = "Chi tiết hóa đơn";
}
<section class="section">
    <div class="container">
        <h2>Chi tiết hóa đơn</h2>
        <p>Mã hóa đơn: @Model.InvoiceId</p>
        <p>Gmail: @Model.Gmail</p>
        <p>Tên người dùng: @Model.UserName</p>
        <p>Ngày thanh toán: @Model.PaymentDate</p>
        <p>Số ghế: @Model.SeatNumber</p>
        <p>Giá: @Model.PaymentAmount</p>
        <p>Phim: @Model.FilmName</p>
        <p>Phương thức thanh toán: @Model.PaymentMethod</p>
        <a asp-action="Index" asp-controller="Home">Trở về trang chủ</a>
    </div>
</section>
