@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model dynamic
@{
    ViewData["Title"] = "Hóa đơn đặt vé";
}
<section class="section">
    <div class="container">
        <h2>Hóa đơn đặt vé</h2>
        <p>Gmail: @Model.Gmail</p>
        <p>Mã vé: @Model.TicketId</p>
        <p>Số ghế: @Model.SeatNumber</p>
        <p>Giá: @Model.Price</p>
        <p>Phim: @Model.Name</p>
        <p>Giờ chiếu: @Model.ShowtimeDate</p>
        <p>Rạp: @Model.CinemaName</p>
        <form asp-action="CreateInvoice" class="email-form" method="post">
            <input type="hidden" name="ticketId" value="@Model.TicketId" />
            <div class="form-group">
                <label>Phương thức thanh toán:</label>
                <select name="paymentMethod" class="form-control mb-4 mt-2" required>
                    <option value="">Chọn phương thức</option>
                    <option value="Thẻ tín dụng">Thẻ tín dụng</option>
                    <option value="Tiền mặt">Tiền mặt</option>
                    <option value="Chuyển khoản">Chuyển khoản</option>
                </select>
            </div>
            <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Xác nhận thanh toán</button>
        </form>
    </div>
</section>
