﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model projekt1.Data.Film
@{
    ViewData["Title"] = "Phim hot";
}
<script src="~/js/services.js"></script>
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Phim</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index">Trang chủ</a></li>
                <li class="current">Phim</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="services-list">
                    <a href="#" class="active">Thông tin phim</a>
                    <a href="#">Đặt Vé</a>
                    <a href="#">Lịch Chiếu</a>
                </div>

                <h4>Mua vé , đặt chỗ trực tuyến</h4>
                <p>Mua vé nhanh chóng , giá vé rẻ không ngờ</p>
            </div>

            <div class="col-lg-8 services-holder" data-aos="fade-up" data-aos-delay="200">
                <div class="services-item" data-aos="fade-up" data-aos-delay="300">
                    @{
                        <img src="@Model.BannerImg" alt="@Model.Name" class="img-fluid services-img">
                        <h3>@Model.Name</h3>
                        <ul>
                            <li><i class="bi bi-calendar"></i><span>Năm phát hành : @Model.Year</span></li>
                            <li><i class="bi bi-person-square"></i> <span>Đạo diễn : @Model.Director</span></li>
                            <li><i class="bi bi-globe"></i><span>Ngôn ngữ : @Model.Language</span></li>
                            <li><i class="bi bi-clock"></i><span>Thời lượng : @Model.Duration phút </span></li>
                            <li><i class="bi bi-info-circle"></i><span>Mô tả : </span></li>
                        </ul>
                        <p>
                            @Model.Description
                        </p>
                    }

                </div>
                <div class="services-item d-none" data-aos="fade-up" data-aos-delay="300">
                    <form action="starter-page.html" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <label for="name-field" class="pb-2">Tên</label>
                                <input type="text" name="name" id="name-field" class="form-control" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="email-field" class="pb-2">Email</label>
                                <input type="email" name="email" id="email-field" class="form-control" required="">
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <label for="subject-field" class="pb-2">Số lượng vé</label>
                                <input type="number" inputmode="numeric" class="form-control" name="subject" id="subject-field" required="">
                            </div>

                            <div class="col-md-6">
                                <label for="pay-field" class="pb-2">Phương thức thanh toán</label>
                                <select value="" name="select" class="pb-2 services-select" id="pay-field">
                                    <option value="">Chọn phương thức thanh toán</option>
                                    <option value="cod">Thanh toán tại quầy</option>
                                    <option value="online">Thanh toán trực tuyến</option>
                                </select>
                            </div>



                            <div class="col-md-12">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Hãy kiểm tra hòm thư email của bạn</div>

                                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Tiến hành thanh toán</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="services-item d-none" data-aos="fade-up" data-aos-delay="300">
                    <div class="item-holders d-flex row">
                        @foreach (var group in Model.Showtimes.GroupBy(s => s.ShowtimeDate.GetValueOrDefault().Date))
                        {
                            <div class="service-time col-lg-4 col-md-4">
                                <h4 class="text-center">
                                    @group.Key.ToString("dddd dd/MM")<i class="bi bi-calendar-week"></i>
                                </h4>
                                <div class="time-table">
                                    @foreach (var showtime in group)
                                    {
                                        <div class="time-items">
                                            <p class="time text-center">
                                                @showtime.ShowTimeHour.Substring(0,5) <i class="bi bi-clock"></i>
                                            </p>
                                            <p class="text-center">@showtime.Capacity chỗ trống</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

        </div>

    </div>
</section><!-- /Service Details Section -->